/* Variables */
:root{
    /* colors */
    --backgound-color:#3161E0;
    --dark-gray-color: #8EA1E1;
    --button-color-header: #23272A;
    --light-gray-color: #F6F6F6;
    --footer-bg-color: #23272A;
}

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
/* COMMON */
/* Layout */
.container{
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
 
    /* debug */
    /* background-color: yellow;
    min-height: 40px; */
} 

a{
    text-decoration: none;
}

h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
/*UTILITIES*/
.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.bg-gray{
    background-color: var(--light-gray-color);
}

.button{
    padding: .2rem;
    border-radius: 20px;
}


li a{
    color: white;
    font-size: 1rem;
}
/* HEADER */
/* navigation bar */
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--backgound-color);

    /* debug */
    /* background-color: cadetblue; */
}

/* debug */
/* .logo,
.header-navigation,
.login{
    border: 1px dashed black;
} */

.logo,
.login{
    width: 15%;
}

.header-navigation{
    flex-grow: 1;
}

.header-navigation ul{
    text-align: center;
    list-style-type: none;
}

.header-navigation li{
    display: inline-block;
    margin: .5rem;
}

.login{
    text-align: right;
}

.login a{
    background-color: white;
    color: black;
}

/* main header */

.header-container{
    padding: 30px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;

    /* debug */
    /* background-color: blue;
    height: 400px; */
}

.header-text{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

    /* debug */
    /* height: 300px;
    background-color: pink;
    border: 1px dashed black; */
}

.title-header,
.description-header,
.open{
    color: white;    
}

p.description-header{
    margin: 15px 0;
}

.btn-container{
    display: inline-block;
}
.open,.download{
    margin-right: 10px;
}
.download{
    background-color: white;
}

.open{
    background-color: var(--button-color-header);
}

/* MAIN */
main section{
    padding: 20px 0;
}

.img, .main-text{
    /* debug */
    /* height: 500px;
    border: 1px dashed black; */
}

.img{
    width: 60%;
    /* debug */
    /* background-color: cornflowerblue; */
}

.main-text{
    width: 40%;
    padding: 20px;
    /* debug */
    /* background-color: blueviolet; */
}

.big h2,
.big p{
    text-align: center;
}
.incipit{
    text-align: center;
    background-image: url(../img/stars.svg);
    width: 50%;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 31px;
    margin: 30px auto;
}

.incipit-button{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.btn-main{    
    background-color: var(--dark-gray-color);
    color: white;
}
/* FOOTER */


.ft-top,
.ft-bottom{
    background-color: #23272a;
}
/* upper part */

.ft-top{
    padding: 10px 0 20px;
}

.main-column{
    width: 30%;

    /* debug */
    /* height: 500px;
    background-color: pink; */
}

.main-column p{
    display: inline-block;
    color: white;
}

.main-column h2{
    color: var(--dark-gray-color);
}
.flag{
    height: 16px;
}
.social{
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
}
.menu-column{
    width: 70%;

    /* debug */
    /* height: 500px;
    background-color: darkcyan; */
}

.info{
    width: calc(100% / 4);

    /* debug */
    /* height: 500px;
    border: 1px solid white; */
}

.info ul{
    list-style-type: none;
}

.info li{
    margin-bottom: 10px;
    color: white;
}

.info li:first-child{
    color: var(--dark-gray-color);
}

.ft-top .container{
    border-bottom: 2px solid var(--backgound-color);
}
/* down part */
.ft-bottom{
    padding: 10px 0;
}

.ft-bottom .container .flex{
    min-height: 40px;
}